<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="TestTempPath" value="C:\DBTests"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<!--<add name="SqlServer2005" connectionString="Data Source=.\SQL2005;Integrated Security=SSPI"/>-->
		<add name="SqlServer2008R2" connectionString="Data Source=.;Integrated Security=SSPI"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>